Test factor

1. Input : 40

Test result

1. Iterfibo running time : 0.000010
2. Recfibo running time : 29.175395
3. Iterfibo is faster than Recfibo. Especially the number is bigger,
the slower
